<div class="carousel-inner">
<div class="carousel-item active">
    <%= image_tag("background (1).jpg", :alt => "rss feed") %>
    <div class="carousel-caption">
        <h1 class="display-1">ESPACIO SALVAJE</h1>
    </div>
</div>


    